<footer class="flex-wrap my=10 w-screen flex justify-center bg-gray-200 ">
    <ul class="mx-4 flex md:w-2/5 lg:w-1/5 flex-col items-center text-sm my-5 w-11/12">
        <li class="uppercase my-2 font-semibold">About</li>
        <li class="my-1">Contact Us</li>
        <li class="my-1">About Us</li>
        <li class="my-1">Careers</li>
        <li class="my-1">Sole-Surge</li>
        <li class="my-1">Press</li>
        <li class="my-1">Corporate Information</li>
    </ul>
    <ul class="mx-4 flex flex-col md:w-2/5 lg:w-1/5 items-center text-sm my-5 w-11/12">
        <li class="uppercase my-2 font-semibold">Group Campanies</li>
        <li class="my-1">Coffeco</li>
        <li class="my-1">Crpto Bank</li>
        <li class="my-1">Techdev</li>
    </ul>
    <ul class="mx-4 flex flex-col md:w-2/5 lg:w-1/5 items-center text-sm my-5 w-11/12">
        <li class="uppercase my-2 font-semibold">Help</li>
        <li class="my-1">Payment</li>
        <li class="my-1">Shipping</li>
        <li class="my-1">Cancellation & Return</li>
        <li class="my-1">FAQ</li>
        <li class="my-1">Report Infrigement</li>
    </ul>
    <ul class="mx-4 flex flex-col md:w-2/5 lg:w-1/5 items-center text-sm my-5 w-11/12">
        <li class="uppercase my-2 font-semibold">Consumer Policy</li>
        <li class="my-1">Cancellation & Return</li>
        <li class="my-1">Terms of Use</li>
        <li class="my-1">Secuirty</li>
        <li class="my-1">Privacy</li>
        <li class="my-1">Sitemap</li>
    </ul>
</footer>